---
- hosts: w3af
  become: yes
  tasks:
   - name: Create w3af configruration from template
     template:
      src: ./generic.j2
      dest: ./{{hostname}}-generic.w3f
   - name: Run scan
     command: w3af/w3af_console -s ./{{hostname}}-generic.w3f
...
